<%- include('partials/headerLogin') %>

  
  <div class="jumbotron text-center" >
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3" >My Secret!</h1>
      <form action="/delete" method="post">
              <%secrets.forEach(secret=>{%>
                        <p class="secret-text"><%=secret%></p>
                         <button class="btn-danger btn" style="margin-top: -15px;" type="submit" name="toBeDelete" value="<%=secret%>">Delete</button>
             <% })%>
      </form>
      <hr>
      
    
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
     
    </div>
  </div>
  
  <%- include('partials/footer') %>
